includes:
    - phpstan-baseline.neon
    - extension.neon
    - tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: max

    tmpDir: .cache/phpstan

    treatPhpDocTypesAsCertain: false

    paths:
        - bin
        - src
        - tests

    excludePaths:
        - tests/Benchmark/*
        - tests/Fixtures/*
        - tests/Integration/Bridge/PHPStan/Fixtures/
        - tests/Tools/extract_pcre_tests.php
        - tests/Tools/validate_library.php


    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
