includes:
    - extension.neon
    - tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max

    paths:
        - bin
        - phpstan
        - rector
        - src
        - tests

    bootstrapFiles:
        - tools/rector/vendor/autoload.php
        - tools/phpbench/vendor/autoload.php

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    tmpDir: .cache/phpstan
